In [42]:
!pip install ibm_db_sa

Requirement already satisfied: ibm_db_sa in c:\users\malia\anaconda3\lib\site-packages (0.3.5)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\malia\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.5)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\malia\anaconda3\lib\site-packages (from ibm_db_sa) (3.0.1)

In [1]:
 # @hidden_cell
dsn_hostname = "dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "rxb96056"        # e.g. "abc12345"
dsn_pwd = "1^8ln41s8f2wft46"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [44]:
import ibm_db

In [45]:

#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified

In [46]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  rxb96056 on host:  dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net

In [47]:
import ibm_db_sa

In [48]:
!pip install ipython_sql

Requirement already satisfied: ipython_sql in c:\users\malia\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\malia\anaconda3\lib\site-packages (from ipython_sql) (1.12.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\malia\anaconda3\lib\site-packages (from ipython_sql) (1.3.5)
Requirement already satisfied: ipython>=1.0 in c:\users\malia\anaconda3\lib\site-packages (from ipython_sql) (7.6.1)
Requirement already satisfied: sqlparse in c:\users\malia\anaconda3\lib\site-packages (from ipython_sql) (0.3.1)
Requirement already satisfied: prettytable<1 in c:\users\malia\anaconda3\lib\site-packages (from ipython_sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\malia\anaconda3\lib\site-packages (from ipython_sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\malia\anaconda3\lib\site-packages (from ipython>=1.0->ipython_sql) (4.3.2)
Requirement already satisfied: decorator in c:\users\malia\anaconda3\lib\site-packages (from ipython>=1.0->ipython_sql) (4.4.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\malia\anaconda3\lib\site-packages (from ipython>=1.0->ipython_sql) (41.0.1)
Requirement already satisfied: jedi>=0.10 in c:\users\malia\anaconda3\lib\site-packages (from ipython>=1.0->ipython_sql) (0.13.3)
Requirement already satisfied: pickleshare in c:\users\malia\anaconda3\lib\site-packages (from ipython>=1.0->ipython_sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\malia\anaconda3\lib\site-packages (from ipython>=1.0->ipython_sql) (2.0.9)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\malia\anaconda3\lib\site-packages (from ipython>=1.0->ipython_sql) (0.4.1)
Requirement already satisfied: backcall in c:\users\malia\anaconda3\lib\site-packages (from ipython>=1.0->ipython_sql) (0.1.0)
Requirement already satisfied: pygments in c:\users\malia\anaconda3\lib\site-packages (from ipython>=1.0->ipython_sql) (2.4.2)
Requirement already satisfied: parso>=0.3.0 in c:\users\malia\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython_sql) (0.5.0)
Requirement already satisfied: wcwidth in c:\users\malia\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython_sql) (0.1.7)

In [49]:
import sqlalchemy

In [50]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [51]:
%sql ibm_db_sa://rxb96056:1%5E8ln41s8f2wft46@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB

Total number of crimes recorded in the CRIME table

In [52]:
sql select count(distinct ID) as Count from CHICAGOCRIMEDATA

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

RETRIEVE First 10 Rows From CRIME Table

In [53]:
%sql select * from CHICAGOCRIMEDATA fetch first 10 rows only

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '8/28/2004 17:50', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '2/10/2018 15:50', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '6/26/2004 12:40', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '2/28/2018 15:56', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '4/4/2011 5:45', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '2/10/2018 15:50', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '12/30/2010 16:30', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '2/10/2018 15:50', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '2/2/2016 19:30', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, '2/10/2018 15:50', Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '9/29/2010 7:59', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, '2/10/2018 15:50', Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '11/30/2016 1:15', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, '2/10/2018 15:50', Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '12/16/2005 16:45', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, '2/28/2018 15:56', Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '1/28/2005 17:00', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, '2/28/2018 15:56', Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '5/13/2004 14:15', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, '2/28/2018 15:56', Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

How many crimes involve an arrest?

In [54]:
%sql select count(1) from CHICAGOCRIMEDATA where arrest = 'TRUE'

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

Which unique types of crimes have been recorded at GAS STATION locations?

In [55]:
%sql select distinct PRIMARY_TYPE from CHICAGOCRIMEDATA where LOCATION_DESCRIPTION = 'GAS STATION';

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [56]:
%sql select COMMUNITY_AREA_NAME from CensusData where COMMUNITY_AREA_NAME like 'B%'

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

Which schools in Community Areas 10 to 15 are healthy school certified?

In [57]:
%sql SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS \
WHERE HEALTHY_SCHOOL_CERTIFIED = 'Yes' AND  COMMUNITY_AREA_NUMBER BETWEEN 10 and 15

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

What is the average school Safety Score?¶

In [58]:
%sql select avg(SAFETY_SCORE) as avg_school_safety from CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

List the top 5 Community Areas by average College Enrollment [number of students]

In [59]:
%sql select COMMUNITY_AREA_NAME , avg(COLLEGE_ENROLLMENT) as AVG_ENROLLMENT from CHICAGO_PUBLIC_SCHOOLS \
group by COMMUNITY_AREA_NAME order by AVG_ENROLLMENT desc limit 5

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [60]:
%sql select COMMUNITY_AREA_NAME from CHICAGO_PUBLIC_SCHOOLS \
where SAFETY_SCORE = (select min(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [61]:
%sql select A.PER_CAPITA_INCOME from CENSUSDATA A, CHICAGO_PUBLIC_SCHOOLS B \
where A.COMMUNITY_AREA_NUMBER = B.COMMUNITY_AREA_NUMBER and B.SAFETY_SCORE = 1;

 * ibm_db_sa://rxb96056:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(13785,)]

In [62]:
ibm_db.close(conn)

True